# This script is to demonstrate the data engineering steps

In [128]:
# importing required libraries

import pandas as pd # for data frames
from sklearn.preprocessing import LabelEncoder # for encoding the column values
from sklearn.impute import SimpleImputer # for imputation
from sklearn.linear_model import LinearRegression # for Linear Regression model & imputation

In [129]:
# Loading the data
# Data Source (Kaggle Titanic Data set: https://www.kaggle.com/c/titanic)

df = pd.read_csv('C:/Users/rm634391/Analytics/Kaggle/Titanic/train.csv')

In [130]:
# Printing the number of rows & number of columns in data frame

print (df.shape)

(891, 12)

In [131]:
# Information about the data frame

print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Dimensionality Reduction

In [132]:
# Dropping the columns that are not required for the analysis

cols = ['Name', 'Ticket', 'PassengerId', 'Cabin', 'Embarked']
df = df.drop(cols, axis='columns')

In [133]:
# Information about the data frame (after dropping the column)

print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB
None

### Label Encoding (Converting the labels into machine-readable numeric form)

In [134]:
# Encoding Sex column values (Female -> 0, Male -> 1)

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
print (df['Sex'])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [135]:
# Printing the data frame

print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.4 KB
None

### Handling Missing Values

In [136]:
# Identifying rows with null values

print (df[df.isna().any(axis=1)])

     Survived  Pclass  Sex  Age  SibSp  Parch     Fare
5           0       3    1  NaN      0      0   8.4583
17          1       2    1  NaN      0      0  13.0000
19          1       3    0  NaN      0      0   7.2250
26          0       3    1  NaN      0      0   7.2250
28          1       3    0  NaN      0      0   7.8792
..        ...     ...  ...  ...    ...    ...      ...
859         0       3    1  NaN      0      0   7.2292
863         0       3    0  NaN      8      2  69.5500
868         0       3    1  NaN      0      0   9.5000
878         0       3    1  NaN      0      0   7.8958
888         0       3    0  NaN      1      2  23.4500

[177 rows x 7 columns]

In [138]:
# Identifying number of rows that are missing values by columns

print(df.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [139]:
# Dropping columns that has null values

dropColumnNAdf = df.dropna(axis=1)
print(dropColumnNAdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
dtypes: float64(1), int32(1), int64(4)
memory usage: 38.4 KB
None

In [140]:
# Dropping rows that has null values

dropRowNAdf = df.dropna(axis=0)
print(dropRowNAdf.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    int32
 3   Age       714 non-null    float64
 4   SibSp     714 non-null    int64
 5   Parch     714 non-null    int64
 6   Fare      714 non-null    float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 41.8 KB
None

In [141]:
# Identifying number of rows that are missing values by columns

print(dropRowNAdf.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [ ]:
# Filling missing values with imputation 
# Method: Average

ageAverageImputedf = df.copy()
ageAverageImputedf['Age']=ageAverageImputedf['Age'].fillna(ageAverageImputedf['Age'].mean())
ageAverageImputedf.info()

In [143]:
# Filling missing values with imputation
# Method: Additional Columns

ageColumnImputedf = df.copy()
ageColumnImputedf['AgeMissing'] = ageColumnImputedf['Age'].isnull()
medianImputer = SimpleImputer(strategy = 'median')
newDf = medianImputer.fit_transform(ageColumnImputedf)
print (ageColumnImputedf.info())

print(ageColumnImputedf)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int32
 3   Age         714 non-null    float64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   AgeMissing  891 non-null    bool
dtypes: bool(1), float64(2), int32(1), int64(4)
memory usage: 46.2 KB
None
     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  AgeMissing
0           0       3    1  22.0      1      0   7.2500       False
1           1       1    0  38.0      1      0  71.2833       False
2           1       3    0  26.0      0      0   7.9250       False
3           1       1    0  35.0      1      0  53.1000       False
4           0       3    1  35.0      0      0   8.0500       False
..        ...     ...  ...   ...    ...    ...      ...         ...
886         0       2    1  27.0      0      0  13.0000       False
887         1       1    0  19.0      0      0  30.0000       False
888         0       3    0   NaN      1      2  23.4500        True
889         1       1    1  26.0      0      0  30.0000       False
890         0       3    1  32.0      0      0   7.7500       False

[891 rows x 8 columns]

In [ ]:
# Imputation using regression model

# Creating new linear regression
lr = LinearRegression()
print (df.head())

In [ ]:
# Test data is extracted from the data frame where the age values are null
traindf = df[df['Age'].isnull()==False]

print (traindf.head())

In [ ]:
# Test data is extracted from the data frame where the age values are null
testdf = df[df['Age'].isnull()==True]

print (testdf.head())

In [ ]:
# Defining the y for the linear regression

y = traindf['Age']

print (y)

In [ ]:
# Training data frame is updated by dropping age from the training set

traindf.drop("Age",axis=1,inplace=True)


print (traindf)

In [ ]:
# Fitting the linear regression
lr.fit(traindf,y)

# Dropping age from test data
testdf.drop("Age",axis=1,inplace=True)

# Predicting the value and popuating test data set with prediction
pred = lr.predict(testdf)
testdf['Age']= pred

print (testdf)